.single .content-area {
  
  @include media(">=tablet"){
    padding-top: var(--wp--custom--layout--block-gap-large);
    max-width: var(--wp--custom--layout--wide);
    margin-inline: auto;
    border-top: 5px solid var(--wp--preset--color--primary);
  }
}

.type-post {
  .entry-header {
    .image {
      // margin-left: calc(-1 * var(--wp--custom--layout--padding));
      // margin-right: calc(-1 * var(--wp--custom--layout--padding));
      // max-width: 100vw;
    }
  }
}