.single .content-area {
  
  @include media(">=tablet"){
    padding-top: var(--wp--custom--layout--block-gap-large);
    max-width: var(--wp--custom--layout--wide);
    margin-inline: auto;
    border-top: 5px solid var(--wp--preset--color--primary);
  }
}