.entry-header.leader {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  max-height: 500px;
  border-bottom: 5px solid var(--wp--preset--color--primary);
  display: flex;
  align-items: center;

  h1 {
    font-size: 125px;
  }
  p {
    margin: 0;
    color: var(--wp--preset--color--primary);
    font-size: 36px;
  }

  margin-bottom: var(--wp--custom--layout--block-gap-large);
}

.more-leaders-container {
  max-width: var(--wp--custom--layout--page);
  margin: var(--wp--custom--layout--block-gap-large) auto;

  .leaders {
    display: flex;
    gap: var(--wp--custom--layout--block-gap);
  }
  .leader {
    width: 25%;
  }
}
