.type-leader .entry-content {
  // width: 100%;
  margin-inline: auto;
  max-width: var(--wp--custom--layout--page);
}

.entry-header.leader {
  max-width: var(--wp--custom--layout--wide);
  .entry-header-content {
    margin: 0 auto;
    max-width: var(--wp--custom--layout--page);
    background-position: right top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: 0 0;

    .image {
      margin: 0 auto; 
      border-bottom: 5px solid var(--wp--preset--color--primary);
    }
    
    @include media(">=tablet") {
      height: 80vh;
      max-height: 500px;
      align-items: center;
      flex-direction: row;
      background-size: contain;
      border-bottom: 5px solid var(--wp--preset--color--primary);
      .image {
        display: none;
      }
      h1 {
        font-size: 125px;
      }
      p {
        margin: 0;
        color: var(--wp--preset--color--primary);
        font-size: 36px;
      }
    }
  }
  
  
  margin-bottom: var(--wp--custom--layout--block-gap-large);
}

.more-leaders-container {
  max-width: var(--wp--custom--layout--page);
  margin: var(--wp--custom--layout--block-gap-large) auto;

  .leaders {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wp--custom--layout--block-gap);
    & > div {
      width: 30%;
    }

    @include media("<tablet") {
      flex-direction: column;
      & > div {
        width: 80%;
      }
    }
  }
}
