/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	height: var(--wp--custom--layout--header);
	background: var(--wp--preset--color--background);
	position: relative;
	padding-top: var(--wp--custom--layout--padding);
	padding-bottom: var(--wp--custom--layout--padding);
	z-index: 1;

	&.menu-active {
		position: fixed;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 1000;

		.wp-block-buttons {
			display: flex;
		}
	}

	.wrap {
		// display: flex;
		gap: var(--wp--custom--layout--block-gap-large);
		display: grid;
		grid-template-columns: 44px 200px 1fr;
		max-width: var(--wp--custom--layout--content);
	}


	&__toggles {
		display: flex;
		flex-wrap: nowrap;
		justify-self: flex-end;
		align-items: center;
		min-width: 44px;

		// @include media(">mobile_menu") {
		// 	display: none;
		// }
	}

	.wp-block-site-logo {
		max-width: 200px;
		z-index: 5;
	}
	.wp-block-buttons {
		z-index: 5;
		display: none;
	}

	@include media("<tablet") {
		background-color: var(--wp--preset--color--primary);
		.wrap {
			grid-template-columns: 200px 44px;
			justify-content: space-between;
		}
		&__toggles {
			order: 2;
		}
		.wp-block-site-logo {
			order: 1;

			img {
				filter: brightness(0) invert(1);
			}
		}

		.wp-block-buttons {
			z-index: 5;
			display: none !important;
		}
	}

	@include media("<=mobile_menu") {
		max-height: 100vh;
		overflow-y: auto;
		overscroll-behavior-y: contain;
	}
}



.search-toggle,
.menu-toggle,
.favorite-toggle {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	line-height: 0;
	padding: 0;
	text-align: center;

	@include size( 44px );
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		@include size( 24px );
	}

	.close {
		display: none;
	}

	&.active {

		.close {
			display: inline;
		}

		.open {
			display: none;
		}
	}
}

.menu-toggle {
	position: fixed;
	// width: 44px;
	// height: 64px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	z-index: 50;
	&.active,
	&:hover {
		background-color: #FCDEB8;
	}
}

/* Admin Bar
--------------------------------------------- */

@include media(">782px" ) {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<=782px") {
	#wpadminbar {
		display: none !important;
	}
}

/* Navigation
---------------------------------------------------------------------------------------------------- */

.nav-menu {
	background-color: var(--wp--preset--color--background);
	overflow: auto;

	& > * {
		line-height: 0;
	}

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.menu-item {
		list-style: none;
		position: relative;

		a {
			border: none;
			color: var(--wp--preset--color--foreground);
			display: block;
			font-size: var(--wp--preset--font-size--small);
			position: relative;
			padding: var(--wp--custom--layout--padding);
			text-decoration: none;
		}

		&.menu-item-has-children > a {
			padding-right: calc( var(--wp--custom--layout--padding) + 6px );
		}

		&:hover > a {
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
		}
	}

	.submenu-expand {
		@include button-reset;
		position: absolute;
		line-height: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 7px;

		&:not(.expanded) .close,
		&.expanded .open {
			display: none;
		}
	}

	@include media(">mobile_menu") {

		.menu {
			display: flex;
			justify-content: flex-end;
		}

		.menu-item {

			&:hover,
			&:focus-within {

				& > .sub-menu {
					left: auto;
					opacity: 1;
				}
			}
		}

		.menu > .menu-item-has-children:hover > a {
			color: var(--wp--preset--color--foreground);
		}
		.submenu-expand {
			display: none;
		}

		// .sub-menu {
		// 	background: var(--wp--preset--color--background);
		// 	left: -9999px;
		// 	opacity: 0;
		// 	position: absolute;
		// 	width: 215px;
		// 	z-index: 99;

		// 	.menu-item {
		// 		float: none;

		// 		&:hover > a {
		// 		}
		// 	}

		// 	.sub-menu {
		// 		margin: -48px 0 0 215px;
		// 	}
		// }

		display: none;

		&.active {
			display: block;
			// grid-column: 1 / -1;

			position: fixed;
			top: var(--wp--custom--layout--header);
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--wp--preset--color--background);

			.admin-bar & {
				top: calc(32px + var(--wp--custom--layout--header));
			}
		}
	}

	@include media("<=mobile_menu") {
		display: none;

		&.active {
			display: block;
			// grid-column: 1 / -1;

			position: fixed;
			top: var(--wp--custom--layout--header);
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--wp--preset--color--background);

			.admin-bar & {
				top: calc(32px + var(--wp--custom--layout--header));
			}
		}

		.menu-item {
			width: 100%;
		}

		.submenu-expand {
			top: 0;
			right: 0;
			transform: none;
			@include size( 44px );

			svg {
				@include size( 18px );
			}

			&:not(.expanded) {
			}

			&.expanded {
				transform: rotate(180deg);

				& + .sub-menu {
					display: block;
				}
			}
		}

		.sub-menu {
			display: none;
			padding-left: 8px;
		}
	}
}

#primary-menu {
	max-width: var(--wp--custom--layout--wide);
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
		"empty1 div1 empty2 div2 empty3"
		"one div1 two div2 three"
		"one div1 two div2 four"
		"empty4 div1 empty5 div2 empty6";
	padding: 0;
	grid-template-columns: 20% 1fr 20% 1fr 20%;
	grid-template-rows: 3vw auto auto 2vw;
	column-gap: var(--wp--custom--layout--block-gap-large);
	row-gap: var(--wp--custom--layout--block-gap);
	justify-content: space-between;

	@include media("<tablet") {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		width: 5px;
		background-color: var(--wp--preset--color--primary);
		height: 100%;
		transform: rotate(20deg);
		justify-self: center;
	}

	&:after {
		grid-area: div2;
	}
	&:before {
		grid-area: div1;
	}
}

#primary-menu > li {
	display: block;
	// width: 30%;
}
#primary-menu > li:nth-child(1) {
	grid-area: one;
}
#primary-menu > li:nth-child(2) {
	grid-area: two;
}
#primary-menu > li:nth-child(n+3) {
	grid-area: three;
}
#primary-menu > li:nth-child(n+4) {
	grid-area: four;
}

#primary-menu > li > a {
	font-size: var(--wp--preset--font-size--large);
	color: var(--wp--preset--color--primary);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
#primary-menu > li > a:hover {
	text-decoration: underline;
}

#primary-menu .sub-menu {
	list-style: none;
	padding: 0;
}

#primary-menu .sub-menu > li {
	
}
#primary-menu .sub-menu a {
	text-decoration: none;
	color: var(--wp--preset--color--foreground);
}
#primary-menu .sub-menu a:hover {
	text-decoration: underline;
}