.bf-quote-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bf-quote-container:before,
.bf-quote-container:after {
  content: '';
  display: block;
  width: 40%;
  background-color: var(--wp--preset--color--primary);
  height: 5px;
}

.bf-quote-container.alignwide:before,
.bf-quote-container.alignwide:after {
  width: 50%;
}

.bf-quote-container figure {

}

.bf-quote-container figure p {
  margin: 0;
  font-size: var(--wp--preset--font-size--colossal);  
  font-family: var(--wp--preset--font-family--parkson);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-inline: clamp(2.125rem, 4vw, 3rem);
}
.bf-quote-container figure p:before {
  content: '';
  display: block;
  width: 50px;
  height: 30px;
  background-image: url("./assets/quotes-top.png");
  left: 0;
  position: absolute;
}
.bf-quote-container figure p:after {
  content: '';
  display: block;
  width: 50px;
  height: 30px;
  background-image: url("./assets/quotes-bottom.png");
  right: 0;
  position: absolute;
}

.bf-quote-container figcaption {
  margin-top: 30px;
  text-align: center;
  font-size: 48px;
  font-family: var(--wp--preset--font-family--futura);
}


@media (max-width: 768px){
  .bf-quote-container {
    flex-direction: column;
    max-width: 90%;
    margin-block: var(--wp--custom--layout--block-gap);
    padding-top: var(--wp--custom--layout--block-gap);
  }
  .bf-quote-container:before,
  .bf-quote-container.alignwide:before {
    width: 80%;
    height: 2px;
    align-self: flex-end;
  }

  .bf-quote-container:after,
  .bf-quote-container.alignwide:after {
    width: 80%;
    height: 2px;
    align-self: flex-start;
    margin-top: 15px;
  }

  .bf-quote-container blockquote {
    margin-inline: 0;
  }

  .bf-quote-container figure p {
    text-align: left;
    padding-inline: 0;
  }

  .bf-quote-container figcaption {
    text-align: left;
    /* padding-inline: clamp(3rem, 10vw, 6rem); */
    font-size: var(--wp--preset--font-size--x-large);
  }

  .bf-quote-container figure p:before {
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background-image: url("./assets/quotes-top.png");
    left: 0px;
    top: -35px;
    position: absolute;
  }
  .bf-quote-container figure p:after {
    display: none;
  }
  .bf-quote-container figure:after {
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background-image: url("./assets/quotes-bottom.png");
    right: 20px;
    position: absolute;
  }
}

/* Callout Style */
.is-style-callout.bf-quote-container:before,
.is-style-callout.bf-quote-container:after {
  content: '';
  display: block;
  width: 35%;
  background-color: var(--wp--preset--color--primary);
  height: 5px;
}

.is-style-callout.bf-quote-container.alignwide:before,
.is-style-callout.bf-quote-container.alignwide:after {
  width: 45%;
}

.is-style-callout.bf-quote-container figure p {
  padding-inline: clamp(3rem, 10vw, 6rem);
}

.is-style-callout.bf-quote-container figure p:before,
.is-style-callout.bf-quote-container figure p:after {
  display: none;
}


@media (max-width: 768px){
  .is-style-callout.bf-quote-container {
    flex-direction: column;
    max-width: 90%;
    margin-block: var(--wp--custom--layout--block-gap);
    padding-block: var(--wp--custom--layout--block-gap);
  }
  .is-style-callout.bf-quote-container:before,
  .is-style-callout.bf-quote-container.alignwide:before {
    width: 30%;
    height: 2px;
    align-self: center;
  }

  .is-style-callout.bf-quote-container:after,
  .is-style-callout.bf-quote-container.alignwide:after {
    width: 30%;
    height: 2px;
    align-self: center;
    margin-top: 15px;
  }

  .is-style-callout.is-style-callout.bf-quote-container blockquote {
    margin-inline: 0;
  }

  .is-style-callout.bf-quote-container figure p {
    text-align: left;
    padding-inline: 0;
    padding-inline: clamp(3rem, 10vw, 6rem);
  }
  
  .is-style-callout.bf-quote-container figcaption {
    text-align: left;
    padding-inline: clamp(3rem, 10vw, 6rem);
    font-size: var(--wp--preset--font-size--x-large);
  }

  .is-style-callout.bf-quote-container figure p:before {
   display: none;
  }
  .is-style-callout.bf-quote-container figure p:after {
    display: none;
  }
  .is-style-callout.bf-quote-container figure:after {
    display: none;
  }
}