.bf-cover {
  max-height: 75vh;
  overflow: hidden;
  position: relative;
}
.bf-cover img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  max-width: unset !important;
}

.bf-cover .inner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  max-width: var(--wp--custom--layout--content) !important;
}

.bf-cover h1 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
  text-align: center;
  margin: 0;
  color: #ffffff;
  background-color: rgba(36, 32, 30, .5);
  padding: 0 5px 0 13px;
  font-family: var(--wp--preset--font-family--futura);
  font-weight: normal;
}
