.bf-grant-container {
  display: flex;
  justify-content: space-between;
}

.bf-grant-container .column {
  width: 45%;
}

.bf-grant-container h2 {
  font-family: var(--wp--preset--font-family--futura);
  font-style: italic;
}

.bf-grant-container h5 {
  font-family: var(--wp--preset--font-family--futura);
  font-weight: 400; 
}

.bf-grant-container .requirements {
  font-size: var(--wp--preset--font-size--small);
}

@media (max-width: 768px){
  .bf-grant-container {
    flex-direction: column;
  }
  .bf-grant-container .column {
    width: 100%;
  }
  .bf-grant-container h5 {
    display: none;
  }
}