.bf-leader-card {
  max-width: 430px;
  /* margin:; */
}
.bf-leader-card.aligncenter {
  margin-inline: auto;
}
/* .bf-grant-container {
  display: flex;
  justify-content: space-between;
}

.bf-grant-container .column {
  width: 45%;
}

.bf-grant-container h2 {
  font-family: var(--wp--preset--font-family--futura);
  font-style: italic;
}

.bf-grant-container h5 {
  font-family: var(--wp--preset--font-family--futura);
  font-weight: 400; 
}

.bf-grant-container .requirements {
  font-size: var(--wp--preset--font-size--small);
} */
